
.create-post {
    width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4E6EB;
    margin: 30px auto;
}


.line {
    width: 100%;
    background-color: #E4E6EB;
}

.display-post {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image {
    width: 100%;
    height: auto;
}

.add-post-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    min-height: 40px;
    overflow-y: auto;
}


.add-post-design {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.picker {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.picker img {
    cursor: pointer;
}

.add-to-post {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E4E6EB;
    border-radius: 8px;
    padding: 10px;
}

.emoji-picker {
    margin: 20px auto;
}

.add-to-post p {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-image {
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
}

.post-button {
    width: 100%;
    padding: 10px;
    background-color: #1877F2;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}